In [40]:
import pandas as pd

In [41]:
data = pd.read_csv(r'G:\Python\insideAIML\mul_regression.csv')

In [42]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1].values

In [43]:
res = pd.get_dummies(x['State'], drop_first=True)

In [44]:
res.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [45]:
x = x.drop('State', axis=1)

In [46]:
x = pd.concat((x,res), axis=1)

In [47]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [48]:
x = x.values

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train,x_test,y_train, y_test = train_test_split(x, y , test_size = 1/3,
                                                 random_state = 0)

In [52]:
from sklearn.linear_model import LinearRegression

In [54]:
reg = LinearRegression()

In [55]:
reg.fit(x_train, y_train)

LinearRegression()

In [56]:
reg.intercept_

39148.68850232885

In [58]:
reg.coef_   # since there are 5 (p=5) independent columns we get 5 values for reg coefficient

array([ 8.28371991e-01,  5.03972419e-02,  2.21861926e-02,  5.92663381e+03,
       -3.38231256e+02])

In [59]:
y_pred = reg.predict(x_test)

In [60]:
from sklearn.metrics import r2_score

In [64]:
r2= r2_score(y_test, y_pred)

adj_r2 = 1 - (1-R2)*(n-1/n-p-1)

In [65]:
len(x_test) #n=17

17

In [68]:
adj_r2 = 1-((1-r2) * (16/11))               ##1-((1-r2) * (17-1/17-5-1))

In [69]:
adj_r2

0.8185680415633902