In [1]:
import pandas as pd

In [2]:
data= pd.read_csv(r'G:\Python\insideAIML\logistic_regression.csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data = data.drop('User ID', axis=1)  #remove User ID column

In [5]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [6]:
gender = pd.get_dummies(data['Gender'], drop_first =True)  # to remove multicollinearity
data = pd.concat((gender,data), axis=1)
data = data.drop('Gender', axis=1)

In [7]:
data.head()

   Male  Age  EstimatedSalary  Purchased
0     1   19            19000          0
1     1   35            20000          0
2     0   26            43000          0
3     0   27            57000          0
4     1   19            76000          0

In [8]:
data.columns = ['Gender', 'Age', 'Salary', 'Purchased']

In [9]:
print(data)

     Gender  Age  Salary  Purchased
0         1   19   19000          0
1         1   35   20000          0
2         0   26   43000          0
3         0   27   57000          0
4         1   19   76000          0
..      ...  ...     ...        ...
395       0   46   41000          1
396       1   51   23000          1
397       0   50   20000          1
398       1   36   33000          0
399       0   49   36000          1

[400 rows x 4 columns]

In [10]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, 
                                                    random_state=0)

In [12]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

In [13]:
classifier.fit(x_train,y_train)

GaussianNB()

In [14]:
y_pred = classifier.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [16]:
accuracy_score(y_test,y_pred)*100

90.0

In [17]:
confusion_matrix(y_test,y_pred)

array([[65,  3],
       [ 7, 25]], dtype=int64)

In [18]:
x_test

array([[     1,     30,  87000],
       [     0,     38,  50000],
       [     1,     35,  75000],
       [     0,     30,  79000],
       [     0,     35,  50000],
       [     1,     27,  20000],
       [     0,     31,  15000],
       [     1,     36, 144000],
       [     0,     18,  68000],
       [     1,     47,  43000],
       [     1,     30,  49000],
       [     0,     28,  55000],
       [     1,     37,  55000],
       [     1,     39,  77000],
       [     1,     20,  86000],
       [     0,     32, 117000],
       [     1,     37,  77000],
       [     1,     19,  85000],
       [     0,     55, 130000],
       [     1,     35,  22000],
       [     0,     35,  47000],
       [     0,     47, 144000],
       [     0,     41,  51000],
       [     1,     47, 105000],
       [     0,     23,  28000],
       [     0,     49, 141000],
       [     0,     28,  87000],
       [     1,     29,  80000],
       [     0,     37,  62000],
       [     0,     32,  86000],
       [     1,     21,  88000],
       [     1,     37,  79000],
       [     1,     57,  60000],
       [     1,     37,  53000],
       [     1,     24,  58000],
       [     1,     18,  52000],
       [     1,     22,  81000],
       [     0,     34,  43000],
       [     0,     31,  34000],
       [     0,     49,  36000],
       [     1,     27,  88000],
       [     1,     41,  52000],
       [     0,     27,  84000],
       [     1,     35,  20000],
       [     0,     43, 112000],
       [     0,     27,  58000],
       [     0,     37,  80000],
       [     0,     52,  90000],
       [     1,     26,  30000],
       [     1,     49,  86000],
       [     0,     57, 122000],
       [     0,     34,  25000],
       [     0,     35,  57000],
       [     1,     34, 115000],
       [     0,     59,  88000],
       [     1,     45,  32000],
       [     0,     29,  83000],
       [     0,     26,  80000],
       [     1,     49,  28000],
       [     1,     23,  20000],
       [     1,     32,  18000],
       [     1,     60,  42000],
       [     1,     19,  76000],
       [     1,     36,  99000],
       [     0,     19,  26000],
       [     1,     60,  83000],
       [     0,     24,  89000],
       [     1,     27,  58000],
       [     1,     40,  47000],
       [     0,     42,  70000],
       [     0,     32, 150000],
       [     0,     35,  77000],
       [     0,     22,  63000],
       [     1,     45,  22000],
       [     1,     27,  89000],
       [     1,     18,  82000],
       [     0,     42,  79000],
       [     0,     40,  60000],
       [     0,     53,  34000],
       [     0,     47, 107000],
       [     1,     58, 144000],
       [     0,     59,  83000],
       [     0,     24,  55000],
       [     0,     26,  35000],
       [     0,     58,  38000],
       [     0,     42,  80000],
       [     0,     40,  75000],
       [     1,     59, 130000],
       [     0,     46,  41000],
       [     0,     41,  60000],
       [     1,     42,  64000],
       [     0,     37, 146000],
       [     0,     23,  48000],
       [     1,     25,  33000],
       [     1,     24,  84000],
       [     0,     27,  96000],
       [     1,     23,  63000],
       [     1,     48,  33000],
       [     1,     48,  90000],
       [     1,     42, 104000]], dtype=int64)